<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header d-flex justify-content-between align-items-center">
        <h4 class="card-title mb-0">Equipos de la Liga #{{ ligaId }}</h4>
        <a class="btn btn-secondary" routerLink="/ligas">Volver</a>
      </div>

      <div class="card-body">
        <div *ngIf="loading">Cargando...</div>

        <div class="table-responsive" *ngIf="!loading">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Entrenador</th>
                <th>Ganados</th>
                <th style="width:140px">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let e of equipos">
                <td>{{ e.id }}</td>
                <td>{{ e.nombre }}</td>
                <td>{{ e.entrenadorNombre ?? '-' }}</td>
                <td>
                  <a class="btn btn-sm btn-info" [routerLink]="['/equipos', e.id]">Ver</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>
</div>
