<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header d-flex justify-content-between align-items-center">
        <h4 class="card-title mb-0">Jugadores del Equipo #{{ equipoId }}</h4>
        <a class="btn btn-secondary" routerLink="/equipos">Volver</a>
      </div>

      <div class="card-body">
        <div *ngIf="loading">Cargando...</div>

        <div class="table-responsive" *ngIf="!loading">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Edad</th>
                <th>Posición</th>
                <th style="width:140px">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let j of jugadores">
                <td>{{ j.id }}</td>
                <td>{{ j.nombre }}</td>
                <td>{{ j.edad }}</td>
                <td>{{ j.posicion }}</td>
                <td>
                  <a class="btn btn-sm btn-info" [routerLink]="['/jugadores', j.id]">Ver</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>
</div>
