<div class="dlabnav">
  <div class="dlabnav-scroll">
    <ul class="metismenu" id="menu">

      <li class="nav-label first">MENÚ</li>

      <li>
        <a routerLink="/ligas" routerLinkActive="mm-active">
          <i class="fas fa-trophy"></i>
          <span class="nav-text">Ligas</span>
        </a>
      </li>

      <li>
        <a routerLink="/equipos" routerLinkActive="mm-active">
          <i class="fas fa-users"></i>
          <span class="nav-text">Equipos</span>
        </a>
      </li>

      <li>
        <a routerLink="/jugadores" routerLinkActive="mm-active">
          <i class="fas fa-user"></i>
          <span class="nav-text">Jugadores</span>
        </a>
      </li>

      <li>
        <a routerLink="/entrenadores" routerLinkActive="mm-active">
          <i class="fas fa-chalkboard-teacher"></i>
          <span class="nav-text">Entrenadores</span>
        </a>
      </li>

      <li>
        <a routerLink="/competencias" routerLinkActive="mm-active">
          <i class="fas fa-calendar-alt"></i>
          <span class="nav-text">Competencias</span>
        </a>
      </li>

    </ul>
  </div>
</div>
